---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props{
    post: CollectionEntry<'blog'>
}

const { post } = Astro.props;
---
<a href={`/posts/${post.slug}`} class=" cursor-pointer ">
<section class="grid gap-5 md:gap-10 md:grid-cols-2">
    <Image src={post.data.image.src} alt={post.data.image.alt} width="300" height="200" class=" w-full rounded-md"/>
    <div class=" flex flex-col">
        <post class=" text-ucla-blue font-bold">{post.data.category.toUpperCase()}</post>
        <h2 class=" text-3xl lg:text-4xl text-erie-black font-bold">{post.data.title}</h2>
    </div>
</section>
</a>