---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Post from '../components/Post.tsx';

import Search from '../components/Search.jsx';

import { signal } from "@preact/signals"

const search = signal('')
// Filter out content entries with `draft: true` only when building for production
const blogPosts = signal(await getCollection('blog', ({ data }) => {
  return !data.draft && data.title.includes(search.value) ;
}));



---

<Layout title="Mavis">
	<Header title='Mavis Blog'>
	</Header>
	<Card>
		<Search search={search} client:visible/>
		<main class="w-full h-full">
			<div class=" flex gap-16 flex-col max-w-4xl mx-auto">
				{blogPosts.value.map(post => (
					<Post post={post} search={search} client:visible>
						<Image src={post.data.image.src} alt={post.data.image.alt} width="300" height="200" class=" w-full rounded-md"/>
					</Post>
				))}
			</div>
		</main>
	</Card>
</Layout>
